luckydonald-utils==0.83

icalendar==5.0.7

icalevents==0.1.27

httpx==0.24.1

pytgbot==5.7

# fastorm==0.0.16
git+https://github.com/luckydonald/fastorm.git@71ea1eb457d84d363fee7a60092b5f4fc66f93ab#egg=fastorm
